.list-akcii-container {
  width: 100%;
  font-family: 'Open Sans';
  line-height: 1.3;

  & .item {
    position: relative;
    height: 256px;
    width: 100%;
    background-color: #bbe2f3;

    & .sub-item {
      position: relative;

      & .discount-header {
        position: absolute;
        top: 20%;
        left: 48%;
        font-size: 2.5rem;
      }

      & .discount-description {
        position: absolute;
        top: 40%;
        left: 65%;
      }

      & .discount-footer {
        font-size: 1.5rem;
        color: var(--main-color);
        font-weight: bold;
        position: absolute;
        top: 55%;
        left: 48%;
      }

    }

    & h4 {
      position: absolute;
      top: 12%;
      right: 20%;
      color: #ff0404;
      font-size: 1.875rem;
      text-transform: uppercase;
      font-weight: bold;
    }

    & p {
      font-size: 1.25rem;
    }

    & .span-list {
      position: absolute;
      top: 29%;
      right: 16%;
    }

    & .order-develop {
      position: absolute;
      top: 65%;
      right: 29%;
      text-shadow: white 1px 1px 0, white -1px -1px 0,
      white -1px 1px 0, white 1px -1px 0;
    }

    & .adaptive {
      position: absolute;
      top: 74%;
      right: 12%;

      & span {
        font-size: 1.25rem;
        font-weight: bold;
        color: #ff0404;
        text-shadow: white 1px 1px 0, white -1px -1px 0,
        white -1px 1px 0, white 1px -1px 0;
      }
    }

    & .order-seo {
      position: absolute;
      top: 19%;
      left: 42%;
    }

    & .h4-seo {
      position: absolute;
      top: 40%;
      left: 58%;
      font-weight: bold;
      width: 29%;

      & span {
        text-transform: none;
        color: var(--main-color);
      }

    }

    & .seo-year {
      position: absolute;
      top: 60%;
      left: 42%;

      & span {
        text-transform: uppercase;
        color: #ff0404;
        font-weight: bold;
        font-size: 1.8rem;
      }
    }


  }
}


