
.logo {
  margin-left: 3rem;
}

.button {
  background: linear-gradient(0deg, #072555, #2b70a7);
  box-shadow: 0px 5px 13px 0px rgba(141, 140, 140, 0.49), inset 0px 14px 25.92px 1.08px rgba(255, 255, 255, 0.33);
  width: 122px;
  height: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none;
  font-family: 'Open Sans';
}

.tel-text {
  font-size: 20px;
  font-weight: 600;
  color: #124987;
  font-family: 'Open Sans';
}

.menu-container {
  height: 40px;
  width: 100%;
  background-color: #124987;
  margin-top: 20px;
}

.menu-item a {
  list-style: none;
  color: #fff;
  font-family: 'Open Sans';
}

.menu-item span {
  color: #fff;
  margin-right: 21px;
  margin-left: 21px;
}

.current_page_item {
  font-weight: 600;
}

ul {
  list-style-type: none;
  text-align: center;
  padding-top: 5px;
}

ul li {
  display: inline;
  font-size: 16.5px;
}

ul li:last-child span {
  display: none;
}

.slider-container {
  width: 100%;
  height: auto;
  font-family: 'Open Sans';
  background-color: #000;

  & .main-block {
    & h4 {
      font-size: 44px;
      color: #30bbfb;
    }
    
    & p {
      color: #fff;
      font-size: 20px
    }
  }

  & .main-block-footer {
    margin-top: -2px;

    & p {
      color: #fff;
      font-size: 14px;
      margin-top: -30px;
    }
  }
}