.slider-container {
  & .mobile-block {
    background: url("./img/mobile/mobile_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;left: 0px; right: 0px; top: 0px; bottom: 0px; opacity: 0.5;
  }
}

.whats-mobile-section {
  font-family: 'Open Sans';
  line-height: 1.2;

  & hr {
    width: 260px;
    height: 3px;
    background-color: var(--main-color);
  }

  & .sub-header {
    font-size: 0.75rem;
    font-weight: bold;
  }

  & h5 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  & .whats-mobile-container {
    position: relative;
    margin-top: 2.875rem;

    & .number1 {
      font-size: 2.25rem;
      position: absolute;
      top: 16%;
      right: 3.5%;
    }

    & .number2 {
      font-size: 2.25rem;
      position: absolute;
      top: 34%;
      right: 13%;
    }

    & .number3 {
      font-size: 2.25rem;
      position: absolute;
      top: 53%;
      right: 24%;
    }

    & .number4 {
      font-size: 2.25rem;
      position: absolute;
      top: 71%;
      right: 33%;
    }

    & .description1 {
      font-size: 0.87rem;
      position: absolute;
      top: 20%;
      left: 33%;
    }

    & .description2 {
      font-size: 0.87rem;
      position: absolute;
      top: 38%;
      left: 33%;
    }

    & .description3 {
      font-size: 0.87rem;
      position: absolute;
      top: 57%;
      left: 33%;
    }

    & .description4 {
      font-size: 0.87rem;
      position: absolute;
      top: 75%;
      left: 33%;
    }

    & span {
      color: #fff;
      font-weight: bold;
      font-size: 0.875rem;
    }

    & p {
      line-height: 1.2;
      font-size: 0.81rem;
      margin-left: 1.2rem;
      padding-top: 3.2rem;
    }
  }

  & .rocket-container {
    position: relative;
    background: url("./img/mobile/rocket_background.png");
    background-repeat: no-repeat;
    //background-size: cover;
    width: 100%;
    height: 432px;

    & p {
      font-size: 0.75rem;
    }

    & div:nth-child(1) {
      position: absolute;
      top: 60%;
      left: -5%
    }

    & div:nth-child(2) {
      position: absolute;
      top: 75%;
      left: 13%
    }

    & div:nth-child(3) {
      position: absolute;
      top: 45%;
      left: 28%
    }

    & div:nth-child(4) {
      position: absolute;
      top: 75%;
      left: 44%
    }

    & div:nth-child(5) {
      position: absolute;
      top: 30%;
      left: 58%
    }

    & div:nth-child(6) {
      position: absolute;
      top: 55%;
      left: 71%
    }

    & div:nth-child(7) {
      position: absolute;
      top: 30%;
      left: 86%
    }
  }
}

.mobile-finance-warranty {
  position: relative;

  .finance-warranty-container {

    & span:nth-child(1) {
      position: absolute;
      top: 67%;
      left: 11%;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
    }

    & span:nth-child(2) {
      position: absolute;
      top: 30%;
      left: 24%;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      font-size: 16px;
    }

    & span:nth-child(3) {
      position: absolute;
      top: 56%;
      left: 36%;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
    }
  }
}