.margin-top-section {
  margin-top: 113px;
}

.container {
  max-width: 1142px;
}

.margin-top-55 {
  margin-top: 55px;
}

.header-text {
  font-size: 30px;
  font-weight: 600;
  color: #30bbfb;
  margin-top: 39px;
}

.page-header-text {
  color: var(--main-color);
  font-weight: bold;
  font-family: var(--font-text);
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.carousel-indicators li {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.container-text span {
  font-family: var(--font-text);
  font-size: 16px;
}

.carousel-indicators .active {
  background-color: #30bbfb;
}

.benefits-container {
  background-color: #fff;

  & .develop {
    height: 254px;
    background-color: #bbe2f3;
    width: 554px;
    margin-right: 32px;

    &
    span {
      text-transform: uppercase;
      font-size: 20px;
      font-family: var(--font-text);
    }

    &
    .site {
      margin-left: 57px;
      margin-top: 30px;
    }

    &
    img {
      position: relative;
      left: 60%;
      bottom: -5%;
    }
  }

  & .context-adv {
    height: 254px;
    width: 556px;
    background-color: #bbe2f3;

    &
    span {
      text-transform: uppercase;
      font-size: 20px;
      font-family: var(--font-text);
    }

    &
    .site {
      margin-left: 57px;
      margin-top: 30px;
    }

    &
    img {
      position: relative;
      left: 60%;
      bottom: -5%;
    }
  }

  & .audit {
    height: 149px;
    background-color: #bbe2f3;
    width: 298px;
    margin-right: 32px;

    &
    span {
      text-transform: uppercase;
      font-size: 20px;
      font-family: var(--font-text);
    }

    &
    .site {
      margin-left: 55px;
      margin-top: 29px;
    }

    &
    img {
      position: relative;
      left: 60%;
      bottom: 20%;
    }
  }

  & .seo {
    background-color: #bbe2f3;
    height: 230px;
    width: 298px;
    margin-top: 29px;

    &
    span {
      text-transform: uppercase;
      font-size: 20px;
      font-family: var(--font-text);
    }

    &
    .site {
      margin-left: 57px;
      margin-top: 30px;
    }

    &
    img {
      position: relative;
      left: 55%;
      bottom: -25%;
    }
  }

  & .support {
    background-color: #bbe2f3;
    height: 408px;
    width: 482px;
    margin-right: 33px;

    &
    span {
      text-transform: uppercase;
      font-size: 20px;
      font-family: var(--font-text);
    }

    &
    .site {
      margin-left: 58px;
      margin-top: 30px;
    }

    &
    img {
      position: relative;
      left: 55%;
      bottom: -40%;
    }
  }

  & .adv {
    background-color: #bbe2f3;
    height: 408px;
    width: 298px;

    &
    span {
      text-transform: uppercase;
      font-size: 20px;
      font-family: var(--font-text);
    }

    &
    .site {
      margin-left: 57px;
      margin-top: 30px;
    }

    &
    img {
      position: relative;
      left: 40%;
      bottom: -45%;
    }
  }
}

.section-develop {
  margin-top: 100px;
}

.container-service {
  height: 1280px;
  background-color: #bbe2f3;
  margin-top: 50px;

  & .button {
    background-image: -moz-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
    box-shadow: 0px 5px 13px 0px rgba(141, 140, 140, 0.49), inset 0px 14px 25.92px 1.08px rgba(255, 255, 255, 0.33);
    height: 36px;
    width: 199px;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-size: 14.55px;
  }
}

.ourservice-container {
  height: 535px;
  width: 340px;
  background-color: #fff;
  margin-top: 40px;
  margin-right: 61px;

  & h4 {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: #30bbfb;
    margin-top: 17px;
    margin-bottom: 25px;
  }

  & .w-block {
    width: 60%;
    margin-bottom: 12px;
  }

  & a {
    font-size: 14px;
    width: 50%;
    font-family: 'Open Sans';
    color: #000;
  }

  & .footer-service {
    background-color: var(--main-color);
    height: 57px;
    width: 100%;

    & span {
      color: #fff;
      font-size: 18px;
      font-family: 'Open Sans';
    }

  }
}

/******************* CASES STYLE **************/

.button-cases {
  background: linear-gradient(0deg, #072555, #2b70a7);
  box-shadow: 0px 5px 13px 0px rgba(141, 140, 140, 0.49), inset 0px 14px 25.92px 1.08px rgba(255, 255, 255, 0.33);
  width: 199px;
  height: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none;
  font-family: 'Open Sans';
  text-transform: uppercase;
  margin-top: 55px;
}

.cases-container {
  max-width: 1280px;

  & .case {
    font-family: 'Open Sans';
    width: 640px;
    height: 382px;

    & .description {
      color: #fff;
      margin-left: 70px;
      margin-top: 33%;

      & a {
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
      }

      & span {
        margin-top: 23px;
        margin-bottom: 23px;
        font-size: 14px;
      }

      & button {
        font-size: 14px;
        background-color: #000;
        text-transform: uppercase;
        border: none;
        color: #fff;
        height: 40px;
        width: 179px;
      }
    }

  }
}

/***************** CONTACT FORM *********************/

.contact-form-contaier {
  width: 100%;
  height: 315px;
  background-color: #e8e8e8;
  font-family: 'Open Sans';

  & .contact-form-block {
    margin-top: 46px;
  }

  & h4 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2;
    text-align: left;
    color: #154e8b;
  }

  & input {
    border-width: 1px;
    border-color: rgb(193, 193, 193);
    border-style: solid;
    width: 100%;
    height: 55px;
    color: #000;
    margin-bottom: 29px;
  }

  & input::placeholder {
    color: #000;
  }

  & input[type="submit"] {
    background: linear-gradient(0deg, #072555, #2b70a7);
    box-shadow: 0px 5px 13px 0px rgba(141, 140, 140, 0.49), inset 0px 14px 25.92px 1.08px rgba(255, 255, 255, 0.33);
    width: 199px;
    height: 30px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none;
    font-family: 'Open Sans';
    text-transform: uppercase;
    margin-top: 20px;
    float: right;
  }
}

/********************** REVIEWS **********************/
.container-reviews {
  font-family: 'Open Sans';

  & h5 {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
  }

  & span {
    font-size: 16px;
  }

  & p {
    margin-top: 30px;
    margin-bottom: 41px;
  }

  & .shadow-reviews {
    border-width: 1px;
    border-color: rgb(193, 193, 193);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 12.22px 0.78px rgba(148, 148, 148, 0.35);
  }

}

/*********************OUR CLIENTS*********************/

.our-clients-container {

}

/***********************SEO***************************/
.contact-form-top {
  font-family: 'Open Sans';

  & .politic {
    font-size: 10px;
    float: left;
    height: 12px;
    padding-top: 8px;
  }

  & .invalid p {
    display: flex;
    flex-direction: row;
  }

  & .wpcf7-form {
    & .ajax-loader {
      display: none;
    }
  }

  & input[type=checkbox] {
    height: 12px;
    width: 14px;

  }

  & .button-form {
    background-color: #fb3030;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
  }

  & input {
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    height: 35px;
    border: none;
    font-size: 12px;
    color: #7d7d7d;
    padding-left: 10px;
  }
}

.we-work-container {
  margin-top: 55px;
  font-family: 'Open Sans';

  & .row-item {
    margin-top: 30px;
  }

  & .row-last-item {
    margin-left: 80px;
  }

  & label {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color: var(--main-color);
    line-height: 1.2;
    text-align: center;
    margin-top: 14px;
  }

  & .first-item {
    width: 74px;
  }

  & .second-item {
    width: 122px;
  }

  & .third-item {
    width: 133px;
  }

  & .item-block {
    position: relative;

    & span {
      position: absolute;
      top: 41%;
      right: 46%;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: bold;
      color: var(--main-color);
    }
  }
}

/**************************TARIFF*************************/
.tariff-container {
  margin-top: 57px;
  font-family: 'Open Sans';

  & .item-tariff {
    height: 400px;
    width: 215px;
    margin-right: 17px;
  }

  & .item-tariff-footer {
    height: 222px;
    border-right: 1px rgb(193, 193, 193) solid;
    border-bottom: 1px rgb(193, 193, 193) solid;
    border-left: 1px rgb(193, 193, 193) solid;

    & a {
      border-radius: 0;
      text-transform: uppercase;
      height: 41px;
      width: 80%;
      background-color: var(--main-color);
      margin-bottom: 19px;
      color: #fff;
      font-size: 16px;

    }
  }

  & .item-tarif-header {
    height: 172px;
    background-color: #bbe2f3;
  }

  & h4 {
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: var(--main-color);
  }

  & span {
    margin-top: 41px;
    color: var(--main-color);
    font-size: 20px;
    line-height: 1.2;
  }

  & p {
    font-size: 12px;
    margin-top: 22px;
    margin-left: 25px;
    margin-right: 18px;
  }
}

/**********************FINANCE WARRANTY **************************/
.finance-warranty-container {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  font-family: 'Open Sans';

  & span:nth-child(1) {
    position: absolute;
    top: 57%;
    left: 12%;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }

  & span:nth-child(2) {
    position: absolute;
    top: 30%;
    left: 24%;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
  }

  & span:nth-child(3) {
    position: absolute;
    top: 56%;
    left: 36%;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }

  & span:nth-child(4) {
    position: absolute;
    top: 25%;
    left: 51%;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }

  & span:nth-child(5) {
    position: absolute;
    top: 59%;
    left: 66%;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }
}