.margin-top-section {
  margin-top: 113px;
}

.container {
  max-width: 1142px;
}

.container-970 {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.margin-top-55 {
  margin-top: 55px;
}

.header-text {
  font-size: 1.875rem;
  font-weight: 600;
  color: #30bbfb;
  margin-top: 39px;
}

.page-header-text {
  color: var(--main-color);
  font-weight: bold;
  font-family: var(--font-text);
  font-size: 2.5rem;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.carousel-indicators li {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.container-text span {
  font-family: var(--font-text);
  font-size: 16px;
}

.carousel-indicators .active {
  background-color: #30bbfb;
}

.benefits-container {
  background-color: #fff;

  & .develop {
    height: 254px;
    background-color: #bbe2f3;
    width: 554px;
    margin-right: 32px;

    &
    span {
      text-transform: uppercase;
      font-size: 20px;
      font-family: var(--font-text);
    }

    &
    .site {
      margin-left: 57px;
      margin-top: 30px;
    }

    &
    img {
      position: relative;
      left: 60%;
      bottom: -5%;
    }
  }

  & .context-adv {
    height: 254px;
    width: 556px;
    background-color: #bbe2f3;

    &
    span {
      text-transform: uppercase;
      font-size: 20px;
      font-family: var(--font-text);
    }

    &
    .site {
      margin-left: 57px;
      margin-top: 30px;
    }

    &
    img {
      position: relative;
      left: 60%;
      bottom: -5%;
    }
  }

  & .audit {
    height: 149px;
    background-color: #bbe2f3;
    width: 298px;
    margin-right: 32px;

    &
    span {
      text-transform: uppercase;
      font-size: 20px;
      font-family: var(--font-text);
    }

    &
    .site {
      margin-left: 55px;
      margin-top: 29px;
    }

    &
    img {
      position: relative;
      left: 60%;
      bottom: 20%;
    }
  }

  & .seo {
    background-color: #bbe2f3;
    height: 230px;
    width: 298px;
    margin-top: 29px;

    &
    span {
      text-transform: uppercase;
      font-size: 20px;
      font-family: var(--font-text);
    }

    &
    .site {
      margin-left: 57px;
      margin-top: 30px;
    }

    &
    img {
      position: relative;
      left: 55%;
      bottom: -25%;
    }
  }

  & .support {
    background-color: #bbe2f3;
    height: 408px;
    width: 482px;
    margin-right: 33px;

    &
    span {
      text-transform: uppercase;
      font-size: 20px;
      font-family: var(--font-text);
    }

    &
    .site {
      margin-left: 58px;
      margin-top: 30px;
    }

    &
    img {
      position: relative;
      left: 55%;
      bottom: -40%;
    }
  }

  & .adv {
    background-color: #bbe2f3;
    height: 408px;
    width: 298px;

    &
    span {
      text-transform: uppercase;
      font-size: 20px;
      font-family: var(--font-text);
    }

    &
    .site {
      margin-left: 57px;
      margin-top: 30px;
    }

    &
    img {
      position: relative;
      left: 40%;
      bottom: -45%;
    }
  }
}

.section-develop {
  margin-top: 100px;
}

.container-service {
  height: 1280px;
  background-color: #bbe2f3;
  margin-top: 50px;

  & .button {
    background-image: -moz-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
    box-shadow: 0px 5px 13px 0px rgba(141, 140, 140, 0.49), inset 0px 14px 25.92px 1.08px rgba(255, 255, 255, 0.33);
    height: 36px;
    width: 199px;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-size: 14.55px;
  }
}

.ourservice-container {
  height: 535px;
  width: 340px;
  background-color: #fff;
  margin-top: 40px;
  margin-right: 61px;

  & h4 {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: #30bbfb;
    margin-top: 17px;
    margin-bottom: 25px;
  }

  & .w-block {
    width: 60%;
    margin-bottom: 12px;
  }

  & a {
    font-size: 14px;
    width: 50%;
    font-family: 'Open Sans';
    color: #000;
  }

  & .footer-service {
    background-color: var(--main-color);
    height: 57px;
    width: 100%;

    & span {
      color: #fff;
      font-size: 18px;
      font-family: 'Open Sans';
    }

  }
}

/******************* CASES STYLE **************/

.button-cases {
  background: linear-gradient(0deg, #072555, #2b70a7);
  box-shadow: 0px 5px 13px 0px rgba(141, 140, 140, 0.49), inset 0px 14px 25.92px 1.08px rgba(255, 255, 255, 0.33);
  width: 199px;
  height: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none;
  font-family: 'Open Sans';
  text-transform: uppercase;
  margin-top: 55px;
}

.cases-container {
  max-width: 1280px;

  & .case {
    font-family: 'Open Sans';
    width: 640px;
    height: 382px;

    & .description {
      color: #fff;
      margin-left: 70px;
      margin-top: 33%;

      & a {
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
      }

      & span {
        margin-top: 23px;
        margin-bottom: 23px;
        font-size: 14px;
      }

      & button {
        font-size: 14px;
        background-color: #000;
        text-transform: uppercase;
        border: none;
        color: #fff;
        height: 40px;
        width: 179px;
      }
    }

  }
}

/***************** CONTACT FORM *********************/

.contact-form-contaier {
  width: 100%;
  height: 315px;
  background-color: #e8e8e8;
  font-family: 'Open Sans';

  & .contact-form-block {
    margin-top: 46px;
  }

  & h4 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2;
    text-align: left;
    color: #154e8b;
  }

  & input {
    border-width: 1px;
    border-color: rgb(193, 193, 193);
    border-style: solid;
    width: 100%;
    height: 55px;
    color: #000;
    margin-bottom: 29px;
    padding-left: 17px;
  }

  & input::placeholder {
    color: #000;
  }

  & input[type="submit"] {
    background: linear-gradient(0deg, #072555, #2b70a7);
    box-shadow: 0px 5px 13px 0px rgba(141, 140, 140, 0.49), inset 0px 14px 25.92px 1.08px rgba(255, 255, 255, 0.33);
    width: 199px;
    height: 30px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none;
    font-family: 'Open Sans';
    text-transform: uppercase;
    margin-top: 20px;
    padding-left: 0;
    float: right;
  }
}

/********************** REVIEWS **********************/
.container-reviews {
  font-family: 'Open Sans';

  & h5 {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
  }

  & span {
    font-size: 16px;
  }

  & p {
    margin-top: 30px;
    margin-bottom: 41px;
  }

  & .shadow-reviews {
    border-width: 1px;
    border-color: rgb(193, 193, 193);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 12.22px 0.78px rgba(148, 148, 148, 0.35);
  }

}


/***********************SEO HEADER***************************/
.contact-form-top {
  font-family: 'Open Sans';

  & p:nth-child(1) {
    color: #000;
    font-size: 1.125rem;
    margin-top: 27px;
  }

  & .wpcf7-form {
    display: inline-block;
    position: relative;

    & .wpcf7-not-valid-tip {
      display: none;
    }

    & .ajax-loader {
      display: none;
    }

    & .wpcf7-list-item {
      margin: 0;
    }

    & .wpcf7-response-output {
      position: absolute;
      color: #fff;
      top: 95%;
      left: 20%;
      margin: 0;
      padding: 0;
      width: auto;
    }

    & input {
      border: none;
      border-radius: 2px;
      height: 35px;
      width: 23%;
      margin-right: 21px;
      font-size: 0.75rem;
      color: #7d7d7d;
      padding-left: 10px;
    }

    & input[type=submit] {
      border: none;
      border-radius: 2px;
      height: 35px;
      width: 20%;
      color: #fff;
      background-color: #fb3030;
      text-transform: uppercase;
      font-size: 0.6875rem;
    }

    & input[type=checkbox] {
      height: 14px;
      width: 12px;
      margin-right: 0;
      vertical-align: middle;
      font-size: 0.625rem;
    }

    & .politic {
      font-size: 0.625rem;
      padding-top: 0.5rem;
      float: left;
    }
  }
}

.we-work-container {
  margin-top: 55px;
  font-family: 'Open Sans';

  & .row-item {
    margin-top: 30px;
  }

  & .row-last-item {
    margin-left: 80px;
  }

  & label {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color: var(--main-color);
    line-height: 1.2;
    text-align: center;
    margin-top: 14px;
  }

  & .first-item {
    width: 74px;
  }

  & .second-item {
    width: 122px;
  }

  & .third-item {
    width: 133px;
  }

  & .item-block {
    position: relative;

    & span {
      position: absolute;
      top: 41%;
      right: 46%;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: bold;
      color: var(--main-color);
    }
  }
}

/**************************TARIFF*************************/
.tariff-container {
  margin-top: 57px;
  font-family: 'Open Sans';

  & .item-tariff {
    height: 400px;
    width: 215px;
    margin-right: 17px;
  }

  & .item-tariff-footer {
    height: 222px;
    border-right: 1px rgb(193, 193, 193) solid;
    border-bottom: 1px rgb(193, 193, 193) solid;
    border-left: 1px rgb(193, 193, 193) solid;

    & a {
      border-radius: 0;
      text-transform: uppercase;
      height: 41px;
      width: 80%;
      background-color: var(--main-color);
      margin-bottom: 19px;
      color: #fff;
      font-size: 16px;

    }
  }

  & .item-tarif-header {
    height: 172px;
    background-color: #bbe2f3;
  }

  & h4 {
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: var(--main-color);
  }

  & span {
    margin-top: 41px;
    color: var(--main-color);
    font-size: 20px;
    line-height: 1.2;
  }

  & p {
    font-size: 12px;
    margin-top: 22px;
    margin-left: 25px;
    margin-right: 18px;
  }
}


/**********************FINANCE WARRANTY **************************/
.finance-warranty-container {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  height: 430px;
  font-family: 'Open Sans';

  & span:nth-child(1) {
    position: absolute;
    top: 57%;
    left: 12%;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }

  & span:nth-child(2) {
    position: absolute;
    top: 30%;
    left: 24%;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
  }

  & span:nth-child(3) {
    position: absolute;
    top: 56%;
    left: 36%;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }

  & span:nth-child(4) {
    position: absolute;
    top: 25%;
    left: 51%;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }

  & span:nth-child(5) {
    position: absolute;
    top: 59%;
    left: 66%;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }
}

.finance-warranty-description {
  font-family: 'Open Sans';
  color: #000;
  font-size: 0.875rem;
}

/*****************************FORM CONTRACT*************************/
.form-—Åontract-container {
  height: 185px;
  background-color: #e8e8e8;
  font-family: 'Open Sans';

  & p:nth-child(1) {
    color: #000;
    font-size: 1.125rem;
    margin-top: 27px;
  }

  & .wpcf7-form {
    display: inline-block;
    position: relative;

    & .wpcf7-not-valid-tip {
      display: none;
    }

    & .ajax-loader {
      display: none;
    }

    & .wpcf7-list-item {
      margin: 0;
    }

    & .wpcf7-response-output {
      position: absolute;
      top: 75%;
      left: 20%;
      margin: 0;
      padding: 0;
      width: auto;
    }

    & input {
      border: none;
      border-radius: 2px;
      height: 35px;
      width: 23%;
      margin-right: 21px;
      font-size: 0.75rem;
      color: #7d7d7d;
      padding-left: 10px;
    }

    & input[type=submit] {
      border: none;
      border-radius: 2px;
      height: 35px;
      width: 20%;
      color: #fff;
      background-color: #fb3030;
      text-transform: uppercase;
      font-size: 0.6875rem;
    }

    & input[type=checkbox] {
      height: 14px;
      width: 12px;
      margin-right: 0;
      vertical-align: middle;
      font-size: 0.625rem;
    }

    & .politic {
      font-size: 0.625rem;
    }
  }
}

/********************** COOPERATE ***********************/
.cooperation-container {
  font-family: 'Open Sans';
  font-size: 0.75rem;

  & figure {
    padding-right: 60px;
  }

  & figcaption {
    color: var(--main-color);
  }

}

/********************* PROJECT TEAM *********************/

.project-team-container {
  margin-top: 47px;
  background-color: #bbe2f3;
  width: 1151px;
  font-family: 'Open Sans';

  & .items-container {
    padding-left: 89px;
    padding-top: 33px;

    & .item-container {
      & span {
        text-transform: uppercase;
        font-size: 0.875rem;
        font-weight: bold;
        vertical-align: bottom;
        padding-left: 10px;
      }

      & p {
        padding-top: 13px;
        font-size: 0.75rem;
      }
    }
  }

  & a {
    height: 2.5rem;
    background-color: var(--main-color);
    text-transform: uppercase;
    color: #fff;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0;
    margin-top: 2.81rem;
    margin-bottom: 2.375rem;
  }
}


/************************ SEO ***************************/

.seo-container {
  font-family: 'Open Sans';

  & p {
    font-size: 1.125rem;
    color: var(--main-color);
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
}

/***************************CONTACTS*********************/

.contacts-container {
  font-family: 'Open Sans';
  margin-bottom: 113px;

  & .info-container {
    & p {
      font-size: 1.25rem;
      font-weight: bold;
    }

    & span {
      padding-left: 1.5rem;
      padding-bottom: 2.4rem;
    }

    & a {
      color: #000;
      text-decoration: none;
    }
  }

  & .contacts-form {
    background-color: #bbe2f3;
    padding-top: 1rem;
    padding-right: 1.8rem;
    padding-left: 1.8rem;

    & .wpcf7-form {
      display: inline-block;
      position: relative;
    }

    & .wpcf7-not-valid-tip {
      display: none;
    }

    & .ajax-loader {
      display: none;
    }

    & .wpcf7-list-item {
      margin: 0;
    }

    & .wpcf7-response-output {
      position: absolute;
      top: 103%;
      left: 5%;
      margin: 0;
      padding: 0;
      width: auto;
    }


    & input {
      border: none;
      border-radius: 2px;
      height: 35px;
      width: 100%;
      font-size: 0.75rem;
      color: #7d7d7d;
      padding-left: 10px;
      margin-bottom: 0.9rem;
    }

    & textarea {
      border: none;
      border-radius: 2px;
      height: 20%;
      font-size: 0.75rem;
      color: #7d7d7d;
      padding-left: 10px;
      margin-bottom: 0.9rem;
    }

    & input[type=submit] {
      border: none;
      border-radius: 2px;
      height: 35px;
      width: 45%;
      color: #fff;
      background-color: #fb3030;
      text-transform: uppercase;
      font-size: 0.6875rem;
      float: right;
    }

    & .wpcf7-captchar {
      float: left;
      width: 40%;
    }

    & .wpcf7-captchac {
      background-color: transparent;
      vertical-align: center;
      margin-left: 20px;
      margin-bottom: 2rem;
    }

  }
}

/**************************** NEWS *****************************/

.news-container {
  font-family: 'Open Sans';

  & .news-item {
    width: 45%;
    margin-bottom: 55px;

    & h6 {
      font-size: 1.25rem;
      font-weight: bold;
      float: left;
    }

    & span {
      margin-top: 1rem;
      margin-bottom: 10px;
      font-size: 0.75rem;
    }

    & p {
      margin-top: 30px;
      font-size: 0.93rem;
    }

    & a {
      color: #9b9a9a;
    }
  }

  & .button-cases {
    margin-top: 0;
    margin-bottom: 55px;
  }
}

/************************* REVIEWS ***************************/

.reviews-container {
  font-family: 'Open Sans';

  & .news-item {
    width: 45%;
    margin-bottom: 55px;

    & h6 {
      font-size: 1.125rem;
      font-weight: bold;
      float: left;
    }

    & span {
      margin-bottom: 10px;
      font-size: 1rem;
    }

    & p {
      margin-top: 5px;
      font-size: 0.93rem;
      float: left;

    }

    & a {
      color: #9b9a9a;
    }
  }

  & .button-cases {
    margin-top: 0;
    margin-bottom: 55px;
  }
}