.slider-container {
  & .web-block {

    background: url("./img/web/web_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    & div:first-child {

    }
  }
}

.ppc-work-container {
  & .item {
    width: 232px;

    & .arrow-container {
      margin-top: -1rem;
      background: url("./img/web/arrow_background.png");
      background-size: contain;
      height: 349px;
    }
  }
}

.direction-develop-container {
  font-family: 'Open Sans';
  width: 100%;
  background-color: #bbe2f3;
  padding: 1.875rem 0;

  & .item {
    background-color: #fff;
    width: 225px;
    height: 293px;
    padding-top: 1.43rem;
    padding-bottom: 2.18rem;
    margin-bottom: 1.43rem;

    & h6 {
      font-size: 0.875rem;
      font-weight: bold;
      color: #2375aa;
      text-transform: uppercase;
    }

    & p {
      font-size: 0.875rem;
      padding: 0 1rem;
      text-align: center;
    }

    & a {
      font-size: 0.875rem;
      text-transform: uppercase;
      color: #fff;
      background-color: var(--main-color);
      padding: 0.875rem 2.375rem;
    }
  }

  & .form-container {
    width: 48.5%;

    & h5 {
      font-size: 1.25rem;
      color: #2375aa;
    }

    & p {
      font-size: 1rem;
    }

    & .wpcf7-form p {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & .wpcf7-not-valid-tip {
        display: none;
      }

      & .ajax-loader {
        display: none;
      }

      & .wpcf7-list-item {
        margin: 0;
      }

      & .wpcf7-response-output {
        position: absolute;
        color: #fb3030;
        top: 99%;
        left: 0%;
        margin: 0;
        padding: 0;
        width: auto;
      }

      & input {
        border: none;
        border-radius: 2px;
        height: 35px;
        font-size: 0.75rem;
        color: #7d7d7d;
        padding-left: 10px;
        margin-bottom: 15px;
      }


      & input[type=submit] {
        border: none;
        border-radius: 2px;
        height: 35px;
        color: #fff;
        background-color: #fb3030;
        text-transform: uppercase;
        font-size: 1rem;
        margin-bottom: 0;
        margin-top: 20px;
      }


      & input[type=checkbox] {
        height: 14px;
        margin: 0;
        vertical-align: middle;

      }

      & .politic {
        font-size: 0.625rem;
        vertical-align: middle;
        margin: 0;
      }

      & .checkbox-121 {
        width: 63%;
      }

    }
  }
}

.section-develop {
  & .develop {
    position: relative;

    & img {
      position: absolute;
      top: 40%;
      left: 65%;
    }
  }

  & .context-adv {
    position: relative;

    & img {
      position: absolute;
      top: 40%;
      left: 65%;
    }
  }

  & .audit {
    position: relative;

    & img {
      position: absolute;
      top: 35%;
      left: 60%;
    }
  }

  & .seo {
    position: relative;

    & img {
      position: absolute;
      top: 55%;
      left: 55%;
    }
  }

  & .support {
    position: relative;

    & img {
      position: absolute;
      top: 60%;
      left: 50%;
    }
  }

  & .adv {
    position: relative;

    & img {
      position: absolute;
      top: 68%;
      left: 35%;
    }
  }
}